
.store-product{
      text-align:center;
      /*width: 200px;
      height: 200px;*/
      background-color: #3778C2
      margin: 15px;
      padding: 2px;
      border: 2px solid #000000;
      /*Padding is used so that the text would not be on the edge.*/
      overflow: auto;
      display: inline-block;
}
.product-image{
      height: 330px;
      width: 270px;
    }
